/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #FEFEFE;
    background-alt: #e4e4e4;
    foreground:     #404040;
    selected:       #5294E2;
    active:         #61c766;
    urgent:         #ec7875;
}
