/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #2B3339;
    background-alt: #364048;
    foreground:     #D3C6AA;
    selected:       #bec5b2;
    active:         #A7C080;
    urgent:         #E67E80;
}
