/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #282828;
    background-alt: #353535;
    foreground:     #ebdbb2;
    selected:       #ffc86a;
    active:         #98971a;
    urgent:         #cc241d;
}
